body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}

.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
	width: 450px !important;
}

/* Start CSS Here */
.tta-Main-Container,
.tta-Main-Container a,
.tta-Main-Container div,
.tta-Main-Container img,
.tta-Main-Container label,
.tta-Main-Container input,
.tta-Main-Container select {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
}

/* - - - - - -  ADD CSS HERE - - - - - - */

/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */

.bxslider {
	margin: 0;
	padding: 0;
}
.bxslider li {
	  margin-bottom: 0;
}

.left li {
	  font-size: 50px;
}
  
.right li {
	font-size: 20px;
}
  
.text-animation {
	width: 500px;
	overflow: hidden;
	position: relative;
}

.bx-wrapper {
	width: 50%;
	float: left;
	border: 0;
	box-shadow: none;
	background: transparent;
}
.bx-wrapper .bx-viewport {
	box-shadow: none;
	border: 0;
}
  
  .text1 {
	margin-top: 10px;
  }
  
  .text2 {
	margin-top: 30px;
  }
  
  body {
	text-align: center;
	background: #00e2ff;
  }
  
  .container {
	width: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }


.img-con {
	background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    width: 138px !important;
    position: absolute !important;
    height: 92px !important;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
}  

.tta-content-wrapper{
	display: flex !important;
	justify-content: space-between;
	align-items: center;
	width: 450px !important;
	position: relative !important;
	/* animation:fadeOut 0.9s ease-in-out;
	-webkit-animation:fadeOut 0.9s ease-in-out; */
}
.tta-title{
	font-size: 50px !important;
	font-weight: bold;
	color: #F29901;
}
.tta-bg-con {
    /* position: absolute; */
    height: 200px !important;
    width: 200px !important;
    background: #fde2b2;
    top: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}
.active {
	animation:fadeOut 0.9s ease-in-out;
	-webkit-animation:fadeOut 0.9s ease-in-out;
} 
@keyframes fadeOut {
	from {
		opacity: 1;
	}
	to {
	   opacity: 0;
	}
  }