body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}

.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Start CSS Here */
.widgetName-Main-Container,
.widgetName-Main-Container a,
.widgetName-Main-Container div,
.widgetName-Main-Container img,
.widgetName-Main-Container label,
.widgetName-Main-Container input,
.widgetName-Main-Container select {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
}

/*Loader CSS*/
.widget-Loader-Container {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background-color: #c8c8c880; */
	z-index: 1;
}

.widget-Loader-Container svg {
	max-width: 200px;
	animation: 2s linear infinite svg--animation;
}

.widget-Loader-Container svg circle.one {
	display: block;
	fill: transparent;
	stroke: #c3c3c3;
	stroke-width: 3px;
}

.widget-Loader-Container svg circle.two {
	animation: 3s linear infinite circle-animation;
	display: block;
	fill: transparent;
	/* stroke: rgb(255, 164, 0); */
	stroke: rgb(var(--primaryColor));
	stroke-linecap: round;
	stroke-dasharray: 253;
	stroke-dashoffset: 250;
	stroke-width: 3px;
	transform-origin: 50% 50%;
}

@keyframes circle-animation {
	0% {
		stroke-dashoffset: 250;
		transform: rotate(0deg);
	}

	50% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 250;
		transform: rotate(360deg);
	}
}

@keyframes svg--animation {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg)
	}
}
/*End Loader CSS*/

/*Error Handling*/
.widget-noCollection-Title {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: rgb(var(--warningColor));
}

.widget-noCollection-Subtext {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* color: rgb(177, 177, 177); */
	color: rgb(var(--secondaryColor));
}
/*End Error Handling*/

/* - - - - - -  ADD CSS HERE - - - - - - */

.block-cards-slider {
	padding: 2.375rem 0 4.5625rem 1rem;
  }
  .block-cards-slider, .home .page-content > .block-cards-slider:not(.block-background-parallax):not(.block-background-parallax + section):not(.hero-section-home):not(.hero-section) {
	overflow: hidden;
  }
  .block-cards-slider:before {
	background: rgba(235, 227, 215, 0.6) !important;
	background: #ebe3d7 !important;
  }
  .home .block-cards-slider:before {
	background: #ebe3d7 !important;
  }
  @media (min-width: 48rem) {
	.block-cards-slider {
	  padding: 3.1875rem 0 8.8125rem 3.25rem;
	}
  }
  @media (min-width: 75rem) {
	.block-cards-slider {
	  padding: 8rem 0 10.5625rem 10.1875rem;
	}
  }
  
  .cards-slider__slider {
	padding: 0;
  }
  .cards-slider__single-slide {
	width: calc(100vw - 2rem);
	margin: 0 0.125rem;
  }
  @media (min-width: 48rem) {
	.cards-slider__single-slide {
	  position: relative;
	  margin: 0 2.3125rem;
	  width: calc(100vw - 12rem);
	}
  }
  @media (min-width: 75rem) {
	.cards-slider__single-slide {
	  margin: 0 4.125rem;
	  width: 55.4375rem;
	}
  }
  @media (min-width: 48rem) {
	.cards-slider .slick-list {
	  overflow: visible;
	}
  }
  .cards-slider .slick-arrow {
	top: calc(100% + 1rem);
	bottom: auto;
	width: 3rem;
	height: 3rem;
  }
  .cards-slider .slick-arrow.slick-prev {
	left: 1rem;
  }
  .cards-slider .slick-arrow.slick-next {
	right: 1rem;
  }
  .cards-slider .slick-arrow.slick-disabled {
	display: none !important;
  }
  @media (min-width: 48rem) {
	.cards-slider .slick-arrow {
	  height: 1.5rem;
	  width: auto;
	  top: calc(100% + 2.375rem);
	}
  }
  @media (min-width: 75rem) {
	.cards-slider .slick-arrow {
	  top: calc(100% + 1.25rem);
	}
	.cards-slider .slick-arrow.slick-next {
	  right: 50%;
	  transform: translate(calc(100% + 0.75rem), 0);
	}
	.cards-slider .slick-arrow.slick-prev {
	  left: 50%;
	  transform: translate(-100%, 0);
	}
  }
  .cards-slider__image {
	position: relative;
	padding-top: 100%;
	width: 100%;
  }
  @media (min-width: 48rem) {
	.cards-slider__image {
	  width: 78%;
	  padding-top: 78%;
	}
  }
  .cards-slider__image img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	object-fit: cover;
	transition: all 0.6s ease-out;
  }
  @media (min-width: 48rem) {
	.cards-slider__single-slide:not(.slick-active) figure img {
	  height: 78%;
	  top: 11%;
	  transition: all 0.6s ease-out;
	}
  }
  .cards-slider__card {
	background: #fff;
	color: #334226;
	padding: 1rem;
  }
  @media (min-width: 48rem) {
	.cards-slider__card {
	  position: absolute;
	  width: 44%;
	  min-height: calc(100% - 4.375rem);
	  top: 2.1875rem;
	  right: 0;
	  padding: 1.5rem;
	}
  }
  @media (min-width: 75rem) {
	.cards-slider__card {
	  width: 44%;
	  min-height: calc(100% - 11.75rem);
	  top: 5.875rem;
	  right: 0;
	  padding: 4.1875rem 3rem 5rem;
	}
  }
  .cards-slider__card:before {
	display: block;
	margin: 0.0625rem 0.5rem 2.1875rem;
	font-family: "Hamburg Hand", sans-serif;
	font-weight: 700;
	font-size: 1.125rem;
	line-height: 1.5rem;
	letter-spacing: 0.24em;
	text-transform: uppercase;
	color: #69672B;
  }
  .cards-slider__card .c-btn {
	margin-bottom: 1.5rem;
  }
  @media (min-width: 48rem) {
	.cards-slider__card h5:after {
	  content: "";
	  display: block;
	  width: 6.6875rem;
	  height: 1px;
	  background: orange;
	  margin: 2rem 0;
	}
  }
  @media (min-width: 75rem) {
	.cards-slider__card h5:after {
	  margin: 1.625rem 0;
	}
  }
  .cards-slider__card p {
	font-family: "Noto Serif", serif;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-bottom: 1rem;
	margin-bottom: 1.5rem;
  }
  .cards-slider__card p:before {
	bottom: -1.0625rem !important;
  }
  @media (min-width: 48rem) {
	.cards-slider__card p {
	  margin-bottom: 1.5rem;
	}
	.cards-slider__card p:before {
	  bottom: -1.5625rem !important;
	}
  }
  @media (min-width: 48rem) {
	.cards-slider__card p {
	  margin-bottom: 2rem;
	}
  }
  @media (min-width: 75rem) {
	.cards-slider__card p {
	  margin-bottom: 3.375rem;
	}
  }
  .cards-slider .slick-dots {
	display: none !important;
  }
  .cards-slider__paging-info {
	display: none;
  }
  @media (min-width: 48rem) {
	.cards-slider__paging-info {
	  display: block;
	  margin: 0 0 1.125rem;
	  font-family: "Hamburg Hand", sans-serif;
	  font-style: normal;
	  font-weight: 700;
	  font-size: 1.5rem;
	  line-height: 3.375rem;
	  letter-spacing: 0.24em;
	  text-transform: uppercase;
	  color: #EAAA96;
	}
	.cards-slider__paging-info b {
	  color: #334226;
	  font-size: 3.375rem;
	}
  }
  @media (min-width: 75rem) {
	.cards-slider__paging-info {
	  display: block;
	  margin: 0 0 1.5rem;
	  font-size: 2.125rem;
	  line-height: 4rem;
	}
	.cards-slider__paging-info b {
	  font-size: 4rem;
	}
  }
  .cards-slider .cards-slider__single-slide:nth-child(1) .cards-slider__card:before {
	content: "01";
  }
  .cards-slider .cards-slider__single-slide:nth-child(2) .cards-slider__card:before {
	content: "02";
  }
  .cards-slider .cards-slider__single-slide:nth-child(3) .cards-slider__card:before {
	content: "03";
  }
  .cards-slider .cards-slider__single-slide:nth-child(4) .cards-slider__card:before {
	content: "04";
  }
  .cards-slider .cards-slider__single-slide:nth-child(5) .cards-slider__card:before {
	content: "05";
  }
  .cards-slider .cards-slider__single-slide:nth-child(6) .cards-slider__card:before {
	content: "06";
  }
  .cards-slider .cards-slider__single-slide:nth-child(7) .cards-slider__card:before {
	content: "07";
  }
  .cards-slider .cards-slider__single-slide:nth-child(8) .cards-slider__card:before {
	content: "08";
  }
  .cards-slider .cards-slider__single-slide:nth-child(9) .cards-slider__card:before {
	content: "09";
  }


/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */