body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}
.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* - - - - - -  ADD CSS HERE - - - - - - */
@font-face {
	font-family: "Garet Heavy";
	src: url("https://irp.cdn-website.com/b2d4b892/files/uploaded/Garet-Heavy.woff") format("woff2");
  }

  span.sponsored {
    background: #733ffe;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    color: #ffffff;
}
.textspan {
    display: flex;
    align-items: center;
}
.textspan p{
    margin: 0;
}
p.del-time i.fa-solid.fa-circle.dots, p.cd-ratings i.fa-solid.fa-circle.dots{
	font-size: 4px !important;
	color: #222222 !important;
	margin: 0 5px;
}
  
  div.widgetShowcase-Search-Suggest {
	  display: none;
	  position: absolute;
	  background-color: #fff;
	  z-index: 2;
	  min-height: 42.5px;
	  max-height: 150px;
	  overflow-x: hidden;
	  overflow-y: scroll;
	  border-radius: 4px;
	  margin-top: 5px;
	  box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	  -webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
  }
  .gm-style-iw{
	  width: 500px !important;
  }
  .locationsList a .cd-res-box {
	  margin: 20px 0 !important;
  }
  .hideEl{
	  display: none !important;
  }
  p.cd-res-counter {
	  text-align: left !important;
  }
  .c-Directory-Main-Container {
	  display: flex;
	  background: #ffffff;
	  padding: 20px;
	  /* border: 1px solid black; */
  }
  .c-Directory-Main-Container{
	  color: #222222 !important;
  }
  .cd-filter-wrapp {
	 text-align: left !important;
	  width: 20%;
	  
  }
  .custom-listing-map-Container{
	  height: 600px !important;
	  display: none;
  }
  .cd-results-wrapper {
	  width: 80% !important;
  }
  p.filter-name {
	  font-size: 18px;
	  margin: 0 0 10px 0!important;
	  font-weight: bold;
  }
  p.business-name {
	  font-size: 18px;
	  margin: 0 0 10px 0;
	  font-weight: bold;
	  font-family: "Garet Heavy" !important;
  }
  .cd-searchbar-wrapper {
	  display: flex;
  }
  input#cd-SearchInput {
	  width: 60%;
	  border-radius: 5px;
	  border: 1px solid #9a9a9a;
	  background: #ffffff !important;
	  padding: 0 10px;
	  height: 40px;
	  margin-right: 20px;
  }
  select#cd-SortbyInput{
	  border-radius: 5px;
	  border: 1px solid #9a9a9a;
	  background: #ffffff !important;
	  padding: 0 10px;
	  height: 40px;
	  margin-right: 20px;
  }
  .cd-sort-wrapper {
	  display: flex;
	  justify-content: flex-start;
	  width: 40%;
	  align-items: center;
  }
  .show{
	  display: block !important;
  }
  .hide{
	  display: none !important;
  }
  .map{
	  display: none;
  }
  .cd-layout-icon {
	  /* width: 10%; */
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  height: 40px;
	  width: 45px;
	  background-color: #EBE9E8;
	  border-radius: 50%;
	  cursor: pointer;
  }
  .cd-layout-icon i {
	  font-size: 20px;
	  color: grey;
  }
  .cd-Label {
	  margin-right: 10px;
	  width: 115px;
  }
  .cd-results-con {
	  margin-top: 20px;
  }
  .cd-res-box {
	  width: 100%;
	  height: 200px;
	  background: #ffffff;
	  display: flex;
	  box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%);
	  border-radius: 10px;
	  overflow: hidden;
	  /*margin: 15px 0;*/
  }
  .locationsList a, .gm-style-iw-d a {
	  text-decoration: none !important;
	  color: #222222 !important;
  }
  .cd-res-box-map {
	  width: 100%;
	  height: 150px;
	  background: #ffffff;
	  display: flex;
	  border-radius: 10px;
	  overflow: hidden;
  }
  .cd-left-col {
	  width: 40%;
	  height: 100%;
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: 50%;
	  position: relative;
  }
  .cd-right-col {
	  padding: 20px;
	  text-align: left !important;
	  width: 60%;
  }
  .cd-logo-wrapper {
	  background: #ffffff;
	  width: 60px;
	  height: 60px;
	  padding: 4px;
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  position: absolute;
	  bottom: 10px;
	  left: 10px;
	  border-radius: 10px;
	  overflow: hidden;
  }
  .cd-logo-wrapper img {
	  width: 100%;
  }
  p.cd-ratings i, p.del-time i {
	  color: #733FFE;
  }
  /* The container */
  .container {
	  display: block;
	  position: relative;
	  padding-left: 35px;
	  margin-bottom: 12px;
	  cursor: pointer;
	  font-size: 14px;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	}
	
  /* map css  */
  .gm-style-iw-d {
	  max-height: 100% !important;
	  overflow: hidden !important;
  }
  .gm-style-iw.gm-style-iw-c {
	  width: 900px !important;
	  height: 200px !important;
	  max-height: 200px !important;
	  padding: 0 !important;
  }
  /* map css  */
  /*PAGINATION CSS*/
  .paginationjs .paginationjs-pages li{
	  border: none !important;
	  color: #222222 !important;
  }
  /* .paginationjs .paginationjs-pages li>a{
	  border-radius: 10px !important;
  } */
  .animate {
	  animation-name: animate-pop;
	  animation-timing-function: cubic-bezier(0.26, 0.53, 0.74, 1.48);
	  animation-duration: 0.15s;
  }
	
  @keyframes animate-pop {
	  0% {
		  opacity: 0;
		  transform: scale(0.8, 0.8);
	  }
  
	  100% {
		  opacity: 1;
		  transform: scale(1, 1);
	  }
  }
  .paginationjs .paginationjs-pages li.active>a{
	  background: #733FFE !important;
	  color: #ffffff !important;
  }
  .paginationjs{
	  margin-top: 20px;
  }
  /*PAGINATION CSS*/
  
  /* Hide the browser's default radio button */
  .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
  background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
  background-color: #733FFE;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
  display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
  top: 6px;
  left: 6px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: white;
  }

/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */