body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}

.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Start CSS Here */
/* .c-Directory-Main-Container,
.c-Directory-Main-Container a,
.c-Directory-Main-Container div,
.c-Directory-Main-Container img,
.c-Directory-Main-Container label,
.c-Directory-Main-Container input,
.c-Directory-Main-Container select {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
} */

/*Loader CSS*/
.widget-Loader-Container {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background-color: #c8c8c880; */
	z-index: 1;
}

.widget-Loader-Container svg {
	max-width: 200px;
	animation: 2s linear infinite svg--animation;
}

.widget-Loader-Container svg circle.one {
	display: block;
	fill: transparent;
	stroke: #c3c3c3;
	stroke-width: 3px;
}

.widget-Loader-Container svg circle.two {
	animation: 3s linear infinite circle-animation;
	display: block;
	fill: transparent;
	/* stroke: rgb(255, 164, 0); */
	stroke: rgb(var(--primaryColor));
	stroke-linecap: round;
	stroke-dasharray: 253;
	stroke-dashoffset: 250;
	stroke-width: 3px;
	transform-origin: 50% 50%;
}

@keyframes circle-animation {
	0% {
		stroke-dashoffset: 250;
		transform: rotate(0deg);
	}

	50% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 250;
		transform: rotate(360deg);
	}
}

@keyframes svg--animation {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg)
	}
}
/*End Loader CSS*/

/*Error Handling*/
.widget-noCollection-Title {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: rgb(var(--warningColor));
}

.widget-noCollection-Subtext {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* color: rgb(177, 177, 177); */
	color: rgb(var(--secondaryColor));
}
/*End Error Handling*/

/* - - - - - -  ADD CSS HERE - - - - - - */
.c-Directory-Main-Container {
	display: flex;
	background: #ffffff;
    padding: 20px;
    /* border: 1px solid black; */
}
.cd-filter-wrapp {
    /* background: #d0d0d0; */
    width: 20%;
}
.cd-results-wrapper {
    width: 80% !important;
}
p.filter-name {
    font-size: 18px;
    margin: 0 0 10px 0!important;
	font-weight: bold;
}
p.business-name {
    font-size: 18px;
    margin: 0 0 10px 0;
	font-weight: bold;
}
.cd-searchbar-wrapper {
    display: flex;
}
input#cd-SearchInput {
    width: 60%;
    border-radius: 5px;
    border: 1px solid #9a9a9a;
    padding: 0 10px;
    height: 30px;
    margin-right: 20px;
}
select#cd-SortbyInput{
	border-radius: 5px;
    border: 1px solid #9a9a9a;
    padding: 0 10px;
    height: 30px;
    margin-right: 20px;
}
.cd-sort-wrapper {
	display: flex;
    justify-content: flex-start;
    width: 30%;
    align-items: center;
}
.cd-layout-icon {
    width: 10%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.cd-layout-icon i {
    font-size: 20px;
    color: grey;
}
.cd-Label {
    margin-right: 10px;
}
.cd-results-con {
    margin-top: 20px;
}
.cd-res-box {
	width: 100%;
    height: 150px;
    background: #ffffff;
    display: flex;
    box-shadow: 0px 3px 8px 0px rgb(0 0 0 / 25%);
    border-radius: 10px;
    overflow: hidden;
	margin: 15px 0;
}
.cd-left-col {
    width: 40%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
	position: relative;
}
.cd-right-col {
    padding: 20px;
}
.cd-logo-wrapper {
	background: #ffffff;
    width: 40px;
    height: 40px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.cd-logo-wrapper img {
    width: 100%;
}
p.cd-ratings i, p.del-time i {
    color: #F15D00;
}
/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
	position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
	background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
	background-color: #F15D00;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
	content: "";
	position: absolute;
	display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
	display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
	top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
  }


/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */