body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}

.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* Start CSS Here */
/* .widgetName-Main-Container,
.widgetName-Main-Container a,
.widgetName-Main-Container div,
.widgetName-Main-Container img,
.widgetName-Main-Container label,
.widgetName-Main-Container input,
.widgetName-Main-Container select {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	line-height: 1.5em;
	text-decoration: none;
	box-sizing: border-box;
} */

/*Loader CSS*/
.widget-Loader-Container {
	/* position: absolute; */
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	/* background-color: #c8c8c880; */
	z-index: 1;
}

.widget-Loader-Container svg {
	max-width: 200px;
	animation: 2s linear infinite svg--animation;
}

.widget-Loader-Container svg circle.one {
	display: block;
	fill: transparent;
	stroke: #c3c3c3;
	stroke-width: 3px;
}

.widget-Loader-Container svg circle.two {
	animation: 3s linear infinite circle-animation;
	display: block;
	fill: transparent;
	/* stroke: rgb(255, 164, 0); */
	stroke: rgb(var(--primaryColor));
	stroke-linecap: round;
	stroke-dasharray: 253;
	stroke-dashoffset: 250;
	stroke-width: 3px;
	transform-origin: 50% 50%;
}

@keyframes circle-animation {
	0% {
		stroke-dashoffset: 250;
		transform: rotate(0deg);
	}

	50% {
		stroke-dashoffset: 75;
		transform: rotate(45deg);
	}

	100% {
		stroke-dashoffset: 250;
		transform: rotate(360deg);
	}
}

@keyframes svg--animation {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg)
	}
}
/*End Loader CSS*/

/*Error Handling*/
.widget-noCollection-Title {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	font-weight: 600;
	color: rgb(var(--warningColor));
}

.widget-noCollection-Subtext {
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	/* color: rgb(177, 177, 177); */
	color: rgb(var(--secondaryColor));
}
/*End Error Handling*/

/* - - - - - -  ADD CSS HERE - - - - - - */

/*new css*/
#search-container {
    position: relative;
    width: 85%; /* Adjust the width as needed */
}

#search-input {
    width: 100%;
    height: 40px;
    background: #ffffff;
    outline: none;
    font-size: 16px;
	border: none;
}

p.sudgest {
    margin-left: 10px;
    font-weight: bold;
    text-align: left !important;
}

#autocomplete-results {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border: 1px solid #ccc;
    /*max-height: 150px;*/
    overflow-y: auto;
    display: none;
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.02), 0 2px 12px -2px rgba(0,0,0,.08), 0 3px 6px 0 rgba(0,0,0,.06);
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px;
    z-index: 100;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.results-wrapper::before{
    content:"Suggesties";
    position: absolute;
    left: 0;
    top: 0;
}

.result-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
    text-align: left !important;
    justify-content: flex-end;
    flex-direction: row-reverse;
    width: 100%;
    padding: 10px;
    align-items: center;
    font-size: 16px;
}

.result-item:hover {
    background: #f5f5f5;
}

.result-item p{
    margin: 0 0 0 10px;
}
.result-item i{
    color: #733FFE;
    font-size: 20px;
    margin-right: 10px;
}
#autocomplete-results::-webkit-scrollbar{
    width:6px;
    border-left:1px solid #E6ECF8;
}
#autocomplete-results::-webkit-scrollbar-thumb{
    background-color:#733FFE;
    border-radius: 10px;
}

/*new css*/



  .pac-container {
    display: none !important; /* Hide the default autocomplete dropdown */
  }

input#searchTextField {
    height: 30px;
    width: 100% !important;
    background: white;
    outline: none !important;
}
.widgetName-Main-Container {
	display: flex;
    border: 1px solid #aaa9a9;
	padding: 5px 5px 5px 20px;
    border-radius: 50px;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background: #ffffff;
    color: #222222 !important;
}
input#cb-search-Input {
	height: 30px;
    width: 99%;
    border: 0;
    outline: none;
    font-size: 18px;
}
.search-con {
    width: 84%;
}
.showIcon{
	display: block;
}
.fa-circle-xmark{
	display: none;
}
.btn-con {
    /* background: red; */
    width: 100px;
}
.btn-con button {
    height: 40px;
    width: 100%;
    border: none;
    background: #733FFE;
    color: #ffffff;
    border-radius: 50px;
}
.budiSuggest {
	display: block;
    position: absolute;
    top: 66px;
    left: 0;
    background-color: #ffffff;
    z-index: 5;
    width: 100%;
    -webkit-box-shadow: 0 4px 6px 0 rgba(0,0,0,.02), 0 2px 12px -2px rgba(0,0,0,.08), 0 3px 6px 0 rgba(0,0,0,.06);
    box-shadow: 0 4px 6px 0 rgba(0,0,0,.02), 0 2px 12px -2px rgba(0,0,0,.08), 0 3px 6px 0 rgba(0,0,0,.06);
}

.budiSuggest div {
    padding: 15px;
    transition: .20s ease-in-out;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    display: none;
	cursor: pointer;
}
.budiSuggestDiv i.fa-location-dot{
	margin-right: 10px;
}

.budiSuggest div:hover{
	background-color: #f0f0f0;
    color: #222222;
}

.budiSuggestDiv.suggestActive{
    background-color: #254667;
    color: #FFF;
}


/* AUTO SUDGEST CSS */
.pac-container {
    background-color: #fff;
    position: absolute!important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}
.hdpi.pac-logo:after {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}
.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999
}
.pac-item:hover {
    background-color: #fafafa
}
.pac-item-selected,
.pac-item-selected:hover {
    background-color: #ebf2fe
}
.pac-matched {
    font-weight: 700
}
.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
}

.hdpi .pac-icon {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}
.pac-icon-search {
    background-position: -1px -1px
}
.pac-item-selected .pac-icon-search {
    background-position: -18px -1px
}
.pac-icon-marker {
    background-position: -20px -161px;
    /* background-position: -1px -161px */
}
.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
}
.pac-placeholder {
    color: gray
}

/* AUTO SUDGEST CSS */

/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */