body,
html {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font: var(--defaultFont);
}

.widget-abc123 {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0 auto;
	box-sizing: border-box;
}

/* - - - - - -  ADD CSS HERE - - - - - - */

/* canada map */
svg {
   fill: #F1DAB0;
}
.province_path, .svgmap{
    outline: none;
}
g:hover{ 
   cursor: pointer;
}
.province_text{
   font-size:16px;
   fill:black;
   font-weight:bold;
}
.st2{fill:none;}
.st3{font-family:'MyriadPro-Regular';}
.st5{fill:#FFFFFF;}
.st6{fill:black;}
/* canada map */

.row .col.s12{
    display: flex;
    flex-direction: column;
}
.svgtxt{
    font-size: 16px;
    font-style:normal;
    font-variant:normal;
    font-weight:bold;
    font-stretch:normal;
    text-align:center;
    line-height:100%;
    writing-mode:lr-tb;
    text-anchor:middle;
    fill:#000000 ;
    fill-opacity:1;
    stroke:none;
    stroke-width:1px;
    stroke-linecap:butt;
    stroke-linejoin:miter;
    stroke-opacity:1;
    font-family:Arial
}
.tooltip{
    transition: 0.3s ease-in-out;
	/* fill: #cfcfcf !important; */
	fill: rgb(210, 214, 217);
}

.image-container {
    height: 150px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin-top: 20px;
}
.video-container, .btn-container{
    margin-top: 20px;
    max-width: 300px;
}
.btn-link{
    height: 45px;
    width: 150px;
    border: none;
    outline: none;
    background-color: #cdcdcd;
    cursor: pointer;
}
.hideEl, .hideel{
    display: none !important;
}


/* details css */
.usa_mapcontents{
    max-width: 1149px;
    width: 100%;
    margin: 0 auto;
    padding: 60px 0px;
    background-color: #ececec;
    display: flex;
    justify-content: center;
    align-items: center;
}
.canada_mapcontents{
    margin-top: 50px;
}
.usamap_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 936px;
}
.tooltip_con_details p{
    margin: 7px 0px;
}
.tooltip_con_details {
    background: #ffffff !important;
    width: 32.26%;
    padding: 10px;
    margin: 5px;
    height: 215px;
    text-align: left;
}

.tooltip_con_details a,
.tooltip_con a{
    color: #039be5;
    text-decoration: none;
}

.state_name{
    color: red;
	font-size: 20px !important;
}
/* details css */


/* TIPPY BOX CSS */
.tippy-box {
    position: relative;
    background-color: #efefef;
    color: #1b1b1b;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.4;
    white-space: normal;
    outline: 0;
    transition-property: transform,visibility,opacity;
	padding: 10px;
    max-width: 500px !important;
}
.tooltip_con p {
    margin: 5px 0 0 0 !important;
}
.tippy-arrow {
    width: 16px;
    height: 16px;
    color: #efefef;
}
/* TIPPY BOX CSS */


/* btn css */
/* .tooltip_con p{
    font-size: 12px;
    line-height: 12px;
}
.tooltip_con p.title{
    font-size: 16px;
    color: #4F307D;
}
.tooltip_con p.group{
    color: #D0103A;
}

.map_main{
    max-width: 1149px;
    }
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    }
.map_container{
    display: flex !important;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    padding: 40px;
    width: 100%;
    }
  path:hover,
  circle:hover {
    cursor: pointer;
  }
  #path67 {
    fill: none !important;
    stroke: #2cb3f0 !important;
    cursor: default;
  }
  #info-box, #info-box2, #info-box3, #info-box4 {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 1;
    background-color: #ffffff;
    color: #ffffff;
    border: 0px solid #ffffff;
    border-radius: 5px;
    padding: 15px;
    font-family: arial;
  }
  .disable:hover{
    fill: #666666;     
  }
  .active:hover{
    fill: #4054b2;
  }
  .tabs{
    font-weight: bold;
  }
  .tabs .tab a{
    color: rgb(255 255 255) !important;
    background: #4f307c;
  }
  .tabs .indicator{
      background-color: #4054b2 !important;
  }
  .tabs .tab a:hover, .tabs .tab a.active{
    border: 1px solid #4f307c;
    background-color: rgb(255 255 255) !important;
    color: #4f307c !important;
}
.tooltip_templates { display: none; } */


/* desktop-tablet.css */
@media (min-width: 875px) and (max-width: 1280px) {

}

/* mobile.css */
@media (max-width: 767px) {

}

/* - - - - - -  END CSS HERE - - - - - - */